server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/JaleaReal-1/DAD-PROYECTO.git
          search-paths: config-data
          default-label: main
  application:
    name: config-server
